html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Cera Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  overflow-x: hidden;
  height: 100%;
  transition: all 0.3s linear;
}

body.active-color {
  background-color: #1F1F1C;
  transition: all 0.3s linear;
}

body.active-color .table-box {
  background-color: #ffffff;
}

.store__inner-top mark {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 color: #ffffff;
 background-color: #FF3C03;
 height: 100%;
 padding: 20px;
 margin-left: 5px;
}
.section__title {
    display: inline-grid;
}
body.active-color .btn {
  background-color: #6b6b67;
}

body.active-color h1,
.h1 {
  color: #FFFFFF;
}

body.active-color h2,
.h2 {
  color: #FFFFFF;
}

body.active-color h3,
.h3 {
  color: #FFFFFF;
}

body.active-color h4,
.h4 {
  color: #FFFFFF;
}

body.active-color h5,
.h5 {
  color: #FFFFFF;
}

body.active-color h6,
.h6 {
  color: #FFFFFF;
}

body.active-color .form-pop-up-title,
body.active-color .page-box-list,
body.active-color p {
  color: #FFFFFF;
}

body.active-color .store__box-list li {
  color: #FFFFFF;
}

body.active-color .breadcrumb-box {
  background-color: #303030;
}

body.active-color .breadcrumb li {
  color: #9E9E9E;
}

body.active-color .pagination__arrow path {
  fill: #9E9E9E;
}

body.active-color .breadcrumb a {
  color: #ffffff;
}

body.active-color .store__box-title {
  background-color: #545454;
}

body.active-color .sing-in-pop-up {
  background-color: #1F1F1C;
}

body.active-color .find__all,
body.active-color .privacy-description,
body.active-color .contact {
  color: #ffffff;
}

body.active-color input,
body.active-color textarea {
  background-color: #363434;
  color: #FFFFFF;
}

main {
  flex: 1 0 auto;
}

.index-page .header__bottom {
  background-color: rgb(31, 31, 28, 0.8);
}

.index-page .fill {
  min-height: 0;
}

.fill {
  min-height: 102px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 28px;
  font-weight: 900;
  color: #000000;
  transition: all 0.3s linear;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: #FF3C03;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #e9e9e9;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  background-color: #FFFFFF;
  transform: rotateY(45deg);
  border-radius: 5px;
  width: 60px;
  height: 45px;
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 3;
}

.swiper-button-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.swiper-button-prev-color,
.swiper-button-next-color {
  background-color: #F3F3F3;
}

.sticker-catalog,
.sticker-product {
  gap: 10px;
  grid-row: 1;
  position: static !important;
  z-index: 3;
}

.sticker-rectangle>div+div {
  margin-left: 0px;
}

#row-box {
  display: flex;
}

#content {
  width: 100%;
}

#column-left,
#column-right {
  max-width: 300px;
  width: 100%;
}

#column-left,
#column-right {
  display: none;
}

h1,
.h1 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(1.375rem, 0.7628rem + 2.6122vw, 3.375rem);
  color: #000000;
  margin-bottom: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
  margin-top: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
  text-transform: uppercase;
}

h1,
.h1 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(1.375rem, 0.7628rem + 2.6122vw, 3.375rem);
  color: #000000;
  margin-bottom: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
  margin-top: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
  text-transform: uppercase;
}

h2,
.h2 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
  color: #000000;
  margin-bottom: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  margin-top: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  text-transform: uppercase;
}

.section-top h2,
.section-top .h2,
.section-top .section__title {
  margin: 0;
}

h3,
.h3 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
  color: #000000;
  margin-bottom: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  margin-top: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  text-transform: uppercase;
}

h4,
.h4 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8367rem + 0.1633vw, 1rem);
  color: #000000;
  margin-bottom: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  margin-top: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  text-transform: uppercase;
}

h5,
.h5 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8367rem + 0.1633vw, 1rem);
  color: #000000;
  margin-bottom: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  margin-top: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  text-transform: uppercase;
}

h6,
.h6 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  color: #000000;
  margin-bottom: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  margin-top: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  text-transform: uppercase;
}

p {
  color: #000000;
}

.arrow__items-svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F1F1C;
  border: 1px solid #FF3C03;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.arrow__items-svg-bg svg path {
  fill: #FFFFFF;
}

.arrow__items-svg-bg.active {
  border: 1px solid #FFFFFF;
  transform: rotate(180deg);
}

.swiper-container-initialized {
  position: relative;
  overflow-x: clip;
}

footer {
  flex: 0 0 auto;
}

.noscroll {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}

.rel {
  position: relative;
}

.dark,
.dark-7 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}

.dark.active {
  z-index: 3;
  opacity: 1;
}

.dark-7.active {
  z-index: 7;
  opacity: 1;
}

.text-danger {
  display: block;
  color: #FF3C03;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 0;
}

.btn-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #FF3C03;
  width: 50px;
  height: 50px;
  transition: all 0.3s linear;
  border-radius: 5px;
  z-index: 3;
  opacity: 0;
}

.btn-top:hover svg path {
  fill: #c0c0c0;
}

.btn-top svg path {
  fill: #ffffff;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: max-content;
  border-radius: 360px;
  padding: 0 23px;
  height: 54px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  transition: all 0.2s linear;
  line-height: 2;
}

.btn-success {
  background-color: #FF3C03;
  height: 44px;
}

.btn-primary {
  background-color: #1F1F1F;
}

.btn-secondary {
  background-color: rgba(31, 31, 28, 0.5);
  border: 1px solid #E9E9E9
}

.btn-info {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #E9E9E9
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.style__btn-availability {
  color: #15A850;
  background-color: #FFFFFF;
}

.search-button {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 22px;
  cursor: pointer;
}

.header__burg-box {
  position: relative;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"] {
  width: 100%;
  outline: transparent;
  border-radius: 4px;
  border: none;
  height: 44px;
  background-color: #F7F7F7;
  color: #000000;
  font-size: clamp(0.75rem, 0.6991rem + 0.2508vw, 1rem);
  padding: 0 15px;
  transition: all 0.2s linear;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  width: 15px;
  height: 15px;
}

textarea {
  width: 100%;
  outline: transparent;
  resize: none;
  border: none;
  color: #000000;
  background-color: #f7f7f7;
  padding: 15px;
  font-size: clamp(0.75rem, 0.6991rem + 0.2508vw, 1rem);
  border-radius: 5px;
  min-height: 120px;
  transition: all 0.2s linear;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover {
  background-color: #e0e0e0;
}

textarea:hover {
  background-color: #e0e0e0 !important;
}

button:hover {
  opacity: 0.8;
}

.form-group {
  width: 100%;
  position: relative;
}

.form-group button+input {
  padding: 0 35px 0 55px;
}

.tel-rel input,
.user-rel input,
.email-rel input {
  padding: 0 35px 0 55px;
}

.email-rel::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  cursor: pointer;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../images/pop-up-icon/email.svg');
  width: 25px;
  height: 23px;
}

.user-rel::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  cursor: pointer;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../images/pop-up-icon/user.svg');
  width: 22px;
  height: 27px;
}

.tel-rel::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  cursor: pointer;
  content: '';
  background-repeat: no-repeat;
  background-image: url('../images/pop-up-icon/phone.svg');
  width: 22px;
  height: 25px;
}

.breadcrumb-box {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-top: clamp(0.625rem, 0.4337rem + 0.8163vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.4337rem + 0.8163vw, 1.25rem);
  background-color: #f9f9f9;
  border-bottom: 1px solid #E9E9E9;
}

.breadcrumb {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.breadcrumb li:not(:first-child)::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='12' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.96967C1.26256 0.676777 1.73744 0.676777 2.03033 0.96967L6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L2.03033 11.0303C1.73744 11.3232 1.26256 11.3232 0.96967 11.0303C0.676777 10.7374 0.676777 10.2626 0.96967 9.96967L4.93934 6L0.96967 2.03033C0.676777 1.73744 0.676777 1.26256 0.96967 0.96967Z' fill='rgb(158, 158, 158)'/></svg>");
  margin: 0 12px;
}

.breadcrumb-box .container {
  width: 100%;
}

.breadcrumb a {
  color: #000000;
  font-weight: 500;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  color: #545454;
  scroll-snap-align: center;
}

.find__all {
  color: #000000;
  margin-bottom: 30px;
}

.main-bg {
  position: relative;
}

.find__all-title {
  font-size: clamp(0.875rem, 0.8438rem + 0.1563vw, 1rem);
  color: #545454;
  font-weight: 500;
}

.find__all-title-result {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: clamp(2.375rem, 2.2188rem + 0.7813vw, 3rem);
}

.find__all-result {
  color: #9E9E9E;
  font-size: 14px;
}

.main-bg::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/main-bg.svg');
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top;
  z-index: -1;
}

.store-slider {
  width: 100%;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: relative;
  gap: 15px;
  font-size: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.125rem);
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FF3C03;
  padding: 10px;
  margin: 0 auto;
  margin-top: clamp(1.25rem, 1.0156rem + 1.1719vw, 2.1875rem);
  margin-bottom: 10px;
  z-index: 1;
}

.pagination-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: clamp(1.5625rem, 1.4063rem + 0.7813vw, 2.1875rem);
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  font-weight: 500;
  color: #807F73;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.pagination a {
  width: 100%;
}

.pagination__arrow {
  border: 1px solid #e9e9e9;
}

.pagination li:hover {
  color: #FF3C03;
  background-color: #e9e9e9;
}

.pagination__null {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.pagination__arrow:hover svg path {
  fill: #FF3C03;
}

.pagination .pagination__prev {
  margin-right: 30px;
}

.pagination .pagination__next {
  margin-left: 30px;
}

.pagination__link-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px;
  height: 100%;
  pointer-events: none;
  color: #FF3C03;
}

.pagination__link-first {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF3C03;
}

* {
  scrollbar-width: none !important;
  scrollbar-color: #FF3C03 transparent;
}

.menu-nav-list::-webkit-scrollbar {
  width: 3px;
}

*.menu-nav-list {
  scrollbar-width: thin !important;
}

.section__title {
  font-weight: 400;
  font-size: clamp(2.4375rem, 1.7656rem + 3.3594vw, 5.125rem);
}

.section-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
}

.marg-bottom {
  padding-top: clamp(0.9375rem, 0.5548rem + 1.6327vw, 2.1875rem);
  padding-bottom: clamp(0.9375rem, 0.5548rem + 1.6327vw, 2.1875rem);
}

.marg-bottom:last-child {
  padding-bottom: clamp(1.875rem, 1.014rem + 3.6735vw, 4.6875rem);
}

/*
.marg-bottom:nth-child(2) {
  padding-top: clamp(1.875rem, 1.014rem + 3.6735vw, 4.6875rem);
}
*/

.marg-bottom .store__inner-top,
.marg-bottom .section-title,
.marg-bottom .h2,
.marg-bottom h2 {
  margin-top: 0;
}

.header__burger-menu,
.header__burg-btn-box {
  display: none;
}

.hide .swiper-pagination {
  display: none;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close {
  font-family: 'Cera Pro', sans-serif;
  font-size: 45px;
  color: #9E9E9E;
  font-weight: 300px;
}

.hide {
  overflow-x: clip;
}

.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  opacity: 1;
  background: transparent;
  position: relative;
  border-radius: 5px;
  background-color: #CACAC8;
}

.swiper-pagination-bullet-active {
  width: 35px;
  background-color: #000000;
  font-weight: 700;
}

select {
  display: flex;
  align-items: center;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  border: transparent;
  color: #000000;
  background-color: #F3F3F3;
  border-radius: 5px;
  outline: transparent;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}

.select__main select {
  display: flex;
  align-items: center;
  padding: 0 45px 0 15px;
  background-image: url('../images/pop-up-icon/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
  appearance: none;
}

.product__page-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-top .swiper-slide {
  border: 1px solid #F3F3F3;
}

.gallery-top .swiper-wrapper,
.gallery-thumbs .swiper-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-top {
  max-width: 750px;
  max-height: 750px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  min-width: 0;
  cursor: pointer;
}

.gallery-top img {
  display: flex;
  max-width: 750px;
  width: 100%;
}

.gallery-thumbs-box {
  max-width: 750px;
  width: 100%;
}

.gallery-thumbs {
  max-width: 750px;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 0;
  cursor: pointer;
}

.gallery-top .swiper-wrapper,
.gallery-thumbs .swiper-wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  overflow: hidden;
  min-width: 0;
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-thumbs .swiper-slide-thumb-active {
  border: 1px solid #FF3C03;
}


.gallery-top .swiper-button-prev::after,
.gallery-top .swiper-button-next::after {
  transform: rotateY(45deg);
  font-size: 14px;
}


/*--------------------------------------------------hover*/


a:hover {
  opacity: 0.8;
}

.btn {
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  overflow: hidden;
}

.btn-success:after,
.btn-info:after,
.btn-primary:after,
.btn-secondary:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s linear;
  border-radius: 360px;
}

.btn-primary:hover:after {
  background-color: #545454;
  border-radius: 360px;
  right: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.btn-secondary:hover:after {
  background-color: #000000;
  border-radius: 360px;
  right: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.btn-info:hover:hover:after {
  background-color: #e9e9e9;
  border-radius: 360px;
  right: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.btn-success:hover:after {
  background-color: #545454;
  border-radius: 360px;
  right: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.show-more:hover:after {
  background-color: #545454;
  right: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.show-more:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s linear;
}


/*--------------------------------------------------pop-up*/


.sing-in-pop-up {
  position: relative;
  background-color: #ffffff;
  border-radius: 3px;
  max-width: 610px;
  max-height: max-content;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.form-pop-up {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
}

.pop-up-scroll {
  overflow: scroll;
  max-height: 415px;
  height: calc(100vh - 210px);
  padding: 20px;
}

.pop-up-scroll::-webkit-scrollbar {
  width: 3px;
}

.necessarily {
  font-size: 14px;
  color: #545454;
}

.necessarily::before {
  content: '*';
  color: #FF3C03;
}

.form-pop-up-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: clamp(1.25rem, 0.8125rem + 2.1875vw, 3rem);
  color: #000000;
  font-weight: 500;
}

.form-pop-up-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px 20px 20px;
}

.form-pop-up-top .mfp-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-box {
  display: grid;
  gap: 10px;
}

.form-group {
  position: relative;
}

.search-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 22px;
  cursor: pointer;
}

.header-search-box:hover svg path {
  stroke: #FF3C03;
}

.form-link {
  width: auto;
  margin: 20px;
}


/*--------------------------------------------------menu-nav*/


.menu-nav {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 73px;
  height: max-content;
  background-color: rgb(31, 31, 28, 0.8);
  z-index: -1;
  pointer-events: none;
  padding: 14px 0;
}

.menu-nav.active {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}

.menu-nav-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-nav-box::after {
  content: '';
  position: absolute;
  width: 55%;
  height: 35px;
  top: -45px;
}

.menu-nav-list {
  justify-content: center;
  gap: 10px;
  max-height: calc(100vh - 120px);
  height: max-content;
  overflow-y: auto;
}

.menu-nav-list>li {
  font-size: clamp(0.75rem, 0.6352rem + 0.4898vw, 1.125rem);
  white-space: nowrap;
}

.menu-nav-list-item>a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 24px;
}

.menu-nav-list-item:hover {
  color: #FF3C03;
}


/*--------------------------------------------------header*/


.logo {
  max-width: 235px;
  width: 100%;
}

.header__nav {
  width: 100%;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 18px;
  font-weight: 700;
}

.header__lang-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #807F73;
  cursor: pointer;
  padding: 4px 0;
}

.header__lang-item.active {
  color: #FF3C03
}

.header__lang-item:hover {
  color: #FF3C03;
}

.header__lang-item:not(:last-child) {
  border-bottom: 1px solid #545454;
}

.header__bottom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1F1F1C;
  z-index: 8;
  padding: 26px 0;
}

.header__change-color {
  display: flex;
  align-items: center;
  background-color: rgba(31, 31, 28, 0.8);
  border: 1px solid #3C3C3C;
  border-radius: 360px;
}

.header__change-color button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 360px;
}

.header__change-color button:hover svg path {
  stroke: #FF3C03;
}

.header__btn-svg-light.active path,
.header__btn-svg-dark.active path {
  stroke: #FFFFFF;
}

.header__change-color span {
  width: 1px;
  height: 41px;
  background-color: #3C3C3C;
}

.header__botom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.header__catalog {
  white-space: nowrap;
  background-color: #FF3C03 !important;
}

.header__catalog.active {
  background-color: #545454 !important;
}

.header__search-rel {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.header-search-box {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  height: 54px;
  opacity: 0;
  pointer-events: none;
}

.header-search-box.active {
  opacity: 1;
  pointer-events: auto;
}

.header__search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 31, 28, 0.8);
  border-radius: 50%;
  border: 1px solid #9E9E9E;
  width: 44px;
  height: 44px;
}

.header__search-button:hover {
  background-color: #545454;
}

.header-search-box .header__input {
  height: 54px;
  background-color: #1F1F1C;
  border: 1px solid #9E9E9E;
  border-radius: 12px;
  padding: 0 15px 0 55px;
}

/*--------------------------------------------------main__swiper*/


.main__swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-repeat: repeat, no-repeat;
  background-position: bottom;
  background-size: inherit;
  overflow: hidden;
}

.main__swiper-inner {
  position: relative;
  max-width: 835px;
  width: 100%;
  width: max-content;
  background-color: rgb(31, 31, 28, 0.8);
  padding: clamp(1.875rem, 1.4923rem + 1.6327vw, 3.125rem);
}

.main__swiper-bg {
  margin-bottom: clamp(0.9375rem, 0.5548rem + 1.6327vw, 2.1875rem);
  height: 100vh;
   overflow: hidden;
}

.main__swiper-bg {
    height: 100vh;
  }

.main__swiper-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: clamp(2.625rem, 1.5625rem + 5.3125vw, 6.875rem);
  margin-bottom: 24px;
}

.main__swiper-text-box {
  margin-bottom: 48px;
}

.main__swiper-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  line-height: 1.5;
  font-size: clamp(0.75rem, 0.5625rem + 0.9375vw, 1.5rem);
  margin-bottom: 12px;
  white-space: nowrap;
}

.main__swiper-text:last-child {
  margin-bottom: 42px;
}

.main__swiper-col {
  display: flex;
  gap: 12px;
}

.main__swiper-link {
  max-width: 220px;
  width: 100%;
}

.main__swiper .swiper-pagination {
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 8px;
  opacity: 1;
  background: transparent;
  position: relative;
  border-radius: 360px;
  background-color: #E9E9E9;
}

.swiper-pagination-bullet-active {
  width: 64px;
  background-color: #FF3C03;
  font-weight: 700;
}


/*--------------------------------------------------catalog*/


.catalog .store__inner-top {
  justify-content: center;
}

.catalog {
  position: relative;
}

.catalog::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/decor-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
}

.catalog .store__inner-top {
  padding-top: 70px;
}

.store__inner-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
  margin-bottom: clamp(0.625rem, 0.2041rem + 1.7959vw, 2rem);
}

.store__link {
  font-size: clamp(0.75rem, 0.6991rem + 0.2508vw, 1rem);
}

.category__list-inner {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.625rem, 0.2423rem + 1.6327vw, 1.875rem);
}

.category__list-inner li:first-child {
  width: 32%;
}

.category__list-inner li:nth-child(2) {
  width: 40%;
}

.category__list-inner li:nth-child(3) {
  width: 23%;
}

.category__list-inner li:nth-child(4) {
  width: 40%;
}

.category__list-inner li:nth-child(5) {
  width: 23%;
}

.category__list-inner li:nth-child(6) {
  width: 32%;
}

.category__list-inner li:nth-child(7) {
  width: 23%;
}

.category__list-inner li:nth-child(8) {
  width: 32%;
}

.category__list-inner li:nth-child(9) {
  width: 40%;
}

.category__list-inner li:nth-child(10) {
  width: 32%;
}

.category__list-inner li:nth-child(11) {
  width: 40%;
}

.category__list-inner li:nth-child(12) {
  width: 23%;
}

.category__list-link {
  display: grid;
  height: 100%;
  cursor: pointer;
}

.category__list-link {
  overflow: hidden;
  background: #636363;
}

.category__list-link img {
  transition: all 0.3s linear;
}

.category__list-link:hover img {
  transform: scale(1.2);
  transition: all 0.3s linear;
}

.category__list-link img {
  grid-column: 1;
  grid-row: 1;
}

.category__list-link-title {
  grid-column: 1;
  grid-row: 1;
  transform: scale(1);
}

.category__list-link img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 380px
}

.category__list-link-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  align-self: flex-end;
  justify-self: flex-start;
  background-color: rgba(31, 31, 28, 0.8);
  font-size: clamp(0.75rem, 0.3125rem + 2.1875vw, 2.5rem);
  padding-top: clamp(0.3125rem, 0.375rem + -0.3125vw, 0.0625rem);
  padding-bottom: clamp(0.3125rem, 0.375rem + -0.3125vw, 0.0625rem);
  padding-left: clamp(0.3125rem, 0.1563rem + 0.7813vw, 0.9375rem);
  padding-right: clamp(0.3125rem, 0.1563rem + 0.7813vw, 0.9375rem);
  margin: clamp(0.75rem, 0.5469rem + 1.0156vw, 1.5625rem);
  transition: all 0.3s linear;
}

.category__list-link-title:hover {
  background-color: #FF3C03;
}

.category__product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0.625rem, 0.4688rem + 0.7813vw, 1.25rem);
}

.category__product-list-title {
  text-align: center;
  font-size: clamp(2.375rem, 1.6875rem + 3.4375vw, 5.125rem);
}

.store__box-main {
  display: grid;
  gap: 15px;
  padding: 20px;
  height: 100%;
  border: 1px solid #F3F3F3;
}

.store__box-main .btn {
  width: auto;
}

.store__box-list {
  color: #000000;
}

.store__box-list li {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.store__box-list span {
  color: #9E9E9E;
}

.store__box-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: clamp(1.125rem, 0.9688rem + 0.7813vw, 1.75rem);
  font-size: 28px;
  background-color: #1F1F1C;
  display: grid;
  align-self: center;
  width: fit-content;
  max-height: 77px;
  overflow: hidden;
  padding: 5px 10px;
}

.store__box-img {
  justify-self: center;
}


/*--------------------------------------------------reviews*/

.reviews__inner-video iframe {
  width: 100%;
  height: 500px;
}

.reviews__inner-video .title {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
}


/*--------------------------------------------------product__page*/


.product__page {
  padding-top: clamp(1.25rem, 0.625rem + 3.125vw, 3.75rem);
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 20px;
}

.product__page-box {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
}

.product__page-left .store__box-list {
  margin-bottom: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
}

.product__page-left .apply {
  margin-bottom: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
}

.section__title-dark {
  display: inline-flex;
  background-color: #1F1F1C;
  color: #FFFFFF;
  padding: 12px 16px;
  margin-top: 0;
}

.sku-box {
  font-size: 14px;
  color: #807F73;
  margin: 0 auto;
  margin-right: 0;
}

.page-box-list {
  color: #000000;
}

.product-page-section-slider .title {
  font-family: 'Cera Pro', sans-serif;
  font-size: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.title {
  font-family: 'Cera Pro', sans-serif;
  font-size: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
  text-transform: none;
  font-weight: 700;
}

.page-box-list h3 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 700;
  text-transform: none;
}

.page-box-list-aim li {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
}

.page-box-list-aim li::before {
  content: '';
  background-image: url('../images/pop-up-icon/aim-red.svg');
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 27px;
}

.page-box-list-aim li:not(:last-child) {
  margin-bottom: 15px;
}

.page-box-list .store__box-list li {
  display: grid;
  line-height: 1.5;
}

.page-box-list .store__box-list li {
  margin-bottom: 20px;
}

.table-box-inner::-webkit-scrollbar {
  height: 3px;
}

.table-box {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: auto;
  align-items: flex-start;
  color: #000000;
  border: 1px solid #E9E9E9;
  font-size: 14px;
}

.table-box-inner {
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 100%;
  overflow-x: auto;
}

.table-box-inner li {
  justify-content: center;
}

.table-box-main {
  display: grid;
  grid-template-rows: auto;
  border-right: 1px solid #E9E9E9;
}

.table-box-main-list {
  display: grid;
  grid-template-rows: 40px;
}

.table-box-main-title-box {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.table-box-main-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #1F1F1C;
  padding: 5px;
}

.table-box-item-title {
  color: #1F1F1C;
  font-weight: 700;
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 15px;
}

.table-box-main ul li {
  text-align: left;
  height: 40px;
}

.table-box li {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 15px;
  align-self: center;
  height: 40px;
}

.table-box-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px;
}

.table-box-item-left,
.table-box-item-right {
  display: grid;
  grid-auto-rows: 40px;
}

.table-box-item-left {
  border-right: 1px solid #E9E9E9;
}

.table-box-item:not(:last-child) {
  border-right: 1px solid #E9E9E9;
}

.table-box-item-left li,
.table-box-item-right li,
.table-box-main li {
  border-top: 1px solid #E9E9E9;
}

.table-box-item:nth-child(even) {
  background-color: #F7F7F7;
}


.store-slider .swiper-pagination {
  display: none;
}

/*--------------------------------------------------contact*/


.contact {
  color: #000000;
}

.contact__box .section__title {
  font-size: clamp(1.25rem, 0.8125rem + 2.1875vw, 3rem);
}

.contact-title-main {
  font-size: clamp(2.375rem, 1.6875rem + 3.4375vw, 5.125rem);
  text-align: center;
}

.contact .form-pop-up-top {
  padding: 0 0 20px 0;
  background-color: transparent;
}

.contact .form-pop-up {
  height: auto;
}

.contact .form-link {
  margin: 0;
  margin-top: 20px;
}

.contact__box-main {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-left,
.contact-right {
  width: 100%;
  border: 1px solid#E9E9E9;
  padding: clamp(1.25rem, 0.5938rem + 3.2813vw, 3.875rem);
}

.contact-right img {
  max-width: 500px;
  width: 100%;
}

.box__content {
  width: 100%;
  padding: 15px;
}

.box__content:not(:last-child) {
  border-bottom: 1px solid#E9E9E9;
}

.box__content-tel {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  line-height: 1.5;
}

.box__content-work {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  line-height: 1.5;
}

.box__content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: clamp(1rem, 0.8469rem + 0.6531vw, 1.5rem);
  font-weight: 700;
  margin-bottom: 12px;
}


/*--------------------------------------------------about-us*/


.about-us {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.875rem, 1.0938rem + 3.9063vw, 5rem);
}

.reverse-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1.875rem, 1.0938rem + 3.9063vw, 5rem);
  align-items: center;
}

.about-us iframe {
  width: 100%;
  height: 500px;
}

.about-us-dec {
  position: relative;
}

.about-us-dec::after {
  content: '';
  position: absolute;
  top: -70px;
  right: 0;
  background-image: url('../images/decor-about.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  width: 500px;
  height: 100%;
  z-index: -1;
}

.about-us-dec .store__inner-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1.875rem, 1.0938rem + 3.9063vw, 5rem);
  align-items: center;
  margin-bottom: clamp(1.25rem, 0.3125rem + 4.6875vw, 5rem);
}

.about-us-top {
  display: grid;
  /*for img src*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /*background-attachment: fixed;*/
  width: 100%;
  min-height: 500px;
}

.about-us-top p {
  font-size: clamp(0.75rem, 0.6563rem + 0.4688vw, 1.125rem);
  color: #FFFFFF;
  line-height: 1.5;
}

.about-us-top-inner a {
  width: 100%;
  margin-bottom: clamp(1.25rem, 1.0156rem + 1.1719vw, 2.1875rem);
}

.about-us-top-inner .logo {
  max-width: 370px;
}

.about-us-top-img img {
  min-height: 650px;
  height: 100%;
}

.about-us-top-img,
.about-us-top-inner {
  grid-column: 1;
  grid-row: 1;
}

.about-us-top-inner {
  max-width: 670px;
  max-height: 270px;
  background-color: rgba(31, 31, 28, 0.8);
  padding: clamp(1.25rem, 1.5rem + -1.25vw, 0.25rem);
  align-self: flex-end;
  justify-self: flex-start;
  margin: clamp(0rem, -0.9375rem + 4.6875vw, 3.75rem);
}

.about-us h1 {
  font-size: clamp(2rem, 1.8469rem + 0.6531vw, 2.5rem);
  margin-bottom: 16px;
}

.about-us h2 {
  display: inline-block;
  font-size: clamp(1.25rem, 0.8125rem + 2.1875vw, 3rem);
  background-color: #1F1F1C;
  color: #FFFFFF;
  padding: 7px;
  margin-bottom: 20px;
}

.about-us p {
  color: #545454;
  font-size: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.125rem);
  line-height: 1.3;
}

.about-us p:not(:last-child) {
  margin-bottom: 20px;
}

.about-us ul {
  list-style: disc;
  font-size: 16px;
  line-height: 1.3;
  padding-left: 23px;
  margin-bottom: 20px;
}


/*--------------------------------------------------privacy*/



.privacy-description h1,
.h1 {
  font-weight: 400 !important;
}

.privacy-description h2,
.h2 {
  font-family: 'Cera Pro', sans-serif;
  text-transform: none;
}

.privacy-description .container {
  max-width: 950px;
}

.privacy-description {
  padding: 20px 0;
  color: #000000;
}

.privacy-description h1 {
  font-size: clamp(1.375rem, 1.05rem + 1.625vw, 3rem);
  font-weight: 700;
  margin-bottom: 8px;
}

.privacy-description span {
  display: block;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  margin-bottom: 40px;
}

.privacy-description h2 {
  display: block;
  font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
  font-weight: 700;
  margin-bottom: 24px;
}

.privacy-description ol b {
  display: block;
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
  font-weight: 700;
  margin-bottom: 14px;
}

.privacy-description p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.privacy-description span {
  display: block;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  margin-bottom: 40px;
}

.privacy-description ol {
  padding-left: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.privacy-description li {
  list-style: none;
}


/*--------------------------------------------------blog*/


.blog__index {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
}

.blog__index-img img {
  height: 100%;
}

.blog__index-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__index-text p {
  margin-bottom: 30px;
}

.blog__index-text .btn {
  background-color: #1F1F1C;
}

.news {
  position: relative;
}

.news::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/blog/img-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.news .store__inner-top {
  justify-content: center;
}

.news-swiper .swiper-pagination {
  display: flex;
}

.news-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

.blog__info-box {
  display: grid;
}

.blog__info-box img,
.blog__info-block {
  grid-column: 1;
  grid-row: 1;
}

.blog__info-block {
  background-color: rgba(31, 31, 28, 0.8);
  align-self: flex-end;
  justify-self: center;
  padding: 22px;
}

.blog__info-box img {
  width: 100%;
  max-height: 650px;
}

.blog__info-box span {
  display: block;
  font-size: 14px;
  color: #9E9E9E;
  margin-bottom: 5px;
}

.blog__info-box-title {
  font-size: 22px;
  font-weight: 700;
  height: 53px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.blog__info-box p {
  font-size: 14px;
  line-height: 1.3;
  color: #FFFFFF;
  max-width: 410px;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.blog__info-box .btn {
  max-width: 100%;
  width: auto;
}


/*--------------------------------------------------blog-single-page*/


.swiper-single {
  max-width: 350px;
  overflow: hidden;
  height: max-content;
}


.blog-single-page-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  column-gap: clamp(1.875rem, -25.6579rem + 44.4079vw, 18.75rem);
  margin-top: 20px;
}

.blog-single-page-box-text-info {
  max-width: 950px;
}

.article-date {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #9E9E9E;
  font-size: 14px;
  margin-bottom: 14px;
}

.blog-single-page h1 {
  font-size: clamp(1.625rem, 1.35rem + 1.375vw, 3rem);
  margin-bottom: 14px;
}

.blog-single-page h3 {
  display: block;
  font-size: 18px;
}

.blog-single-page h2 {
  font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
  font-weight: 700;
  margin-bottom: 14px;
}

.blog-single-page p {
  font-size: 14px;
  line-height: 1.5;
}

.blog-single-page-right img {
  width: 100%;
  margin: 10px 0;
}

.blog-single-page p:first-child {
  margin-bottom: 22px;
}

.blog-single-page p:not(:last-child) {
  margin-bottom: 10px;
}

.blog-single-text-info {
  font-weight: 700;
}

.swiper-single .blog__info-box p {
  display: none;
}

.swiper-single {
  max-width: 300px;
  max-height: 630px;
}

.swiper-single .swiper-slide {
  width: 320px;
}

.swiper-single img {
  max-width: 100% !important;
  max-height: 300px !important;
}

.swiper-single .swiper-slide {
  height: calc((100% - 20px) / 2);
  overflow: hidden;
}

.swiper-container-multirow-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
}

.swiper-single .blog__info-box {
  margin: 10px;
}

/*--------------------------------------------------collaboration*/


.collaboration {
  position: relative;
  background-color: #1F1F1C;
  padding-top: clamp(2.1875rem, 0.5612rem + 6.9388vw, 7.5rem);
  padding-bottom: clamp(2.1875rem, 0.5612rem + 6.9388vw, 7.5rem);
}

.collaboration::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../images/mob-menu/img.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  opacity: 0.3;
}

.collaboration h2 {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.collaboration img {
  display: block;
  margin: 0 auto;
  max-height: 180px;
}

.collaboration .swiper-pagination {
  display: none;
}


/*--------------------------------------------------footer*/


.footer__center {
  background-color: #1F1F1C;
  padding-top: clamp(1.875rem, 0.9184rem + 4.0816vw, 5rem);
  padding-bottom: clamp(1.875rem, 0.9184rem + 4.0816vw, 5rem);
  background-image: url('../images/footer/img-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.footer__center-inner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: clamp(1.875rem, -0.1626rem + 10.0313vw, 11.875rem);
}

.footer__center-logo {
  text-align: center;
}

.footer__center-logo .logo {
  max-width: 410px;
}

.footer__center-logo .logo img {
  max-width: 410px;
  width: 100%;
  margin-bottom: clamp(1.125rem, 0.7913rem + 1.4239vw, 2.5rem);
}

.footer__info {
  font-size: 14px;
  text-align: center;
}

.footer__link {
  width: 100%;
  padding: 7px 0;
}

.footer__title-list {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: clamp(1.125rem, 0.8571rem + 1.1429vw, 2rem);
  text-transform: uppercase;
  background-color: #FF3C03;
  pointer-events: none;
  width: max-content;
  padding: 10px;
}

.footer__items {
  margin-top: clamp(0.75rem, 0.4056rem + 1.4694vw, 1.875rem);
  color: #E9E9E9;
}

.footer__item {
  font-size: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  white-space: nowrap;
}

.footer__items-address a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.footer__items-address span {
  display: flex;
  gap: 10px;
}


.footer .arrow__items-svg-bg {
  display: none;
}

.footer .arrow__title-list {
  pointer-events: none;
}


/*--------------------------------------------------media*/


@media (max-width: 1500px) {

  .category__list-link img {
    max-height: 300px
  }

  .reviews__inner-video iframe {
    height: 400px;
  }

  .header__top-inner {
    gap: 25px;
  }


  .about-us-dec::before {
    display: none;
  }

}

@media (max-width: 1200px) {




  .blog__info-box img {
    max-height: 500px;
  }

  .reverse-box {
    grid-template-columns: 1fr;
  }

  .reverse-box iframe {
    grid-row: 1;
  }

  .about-us-dec .store__inner-top {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .category__list-link img {
    max-height: 230px
  }

  .blog__index {
    gap: 20px;
  }

  .collaboration img {
    max-height: 100px;
  }

  .gallery-top {
    max-width: 450px;
    max-height: 450px;
  }

  .gallery-top img {
    max-width: 450px;
    width: 100%;
  }

  .gallery-thumbs-box,
  .gallery-thumbs {
    max-width: 450px;
  }


  .category__product-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__nav-list {
    font-size: 14px;
  }

  .footer__center-inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .footer__inner:nth-child(3) {
    justify-self: center;
  }

  .footer__inner:nth-child(4) {
    justify-self: flex-end;
  }

  .footer__center-logo {
    padding-top: 24px;
    width: 100%;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / 4;
    justify-self: center;
  }

  .footer__center-logo img {
    max-width: 400px;
    width: 100%;
  }

  .footer__center-inner {
    column-gap: 20px;
    padding: 0 10px;
  }

  .footer__info {
    border-top: 1px solid #000000;
    background-color: #1F1F1C;
    padding-top: 20px;
    height: 100%;
    margin: 0 -25px;
  }

}

@media (max-width: 992px) {


  .swiper-single .blog__info-box {
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .header__bottom {
    padding: 10px 0;
  }

  .swiper-single {
    max-width: 992px;
    max-height: 370px;
  }

  .news-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product__page-left-center .apply {
    width: 100%;
  }

  .swiper-button-box {
    display: none;
  }

  .store-slider .swiper-pagination {
    display: flex;
  }

  .table-box {
    grid-template-columns: 220px auto;
  }

  .product__page-box {
    grid-template-columns: 100%;
    gap: 30px;
  }

  .product__page-left-center {
    text-align: center;
  }

  .category__list-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }

  .category__list-inner li:nth-last-child(1):nth-child(even) {
    grid-column: 1 / -1;
  }

  .category__list-inner li {
    width: 100% !important;
  }

  .blog__index {
    grid-template-columns: 1fr;
  }

  .blog__index-text {
    grid-row: 1;
  }

  .header__catalog-box-menu-list::-webkit-scrollbar,
  .header__catalog-box-menu-sub::-webkit-scrollbar,
  .header__burg-scroll::-webkit-scrollbar {
    width: 3px;
  }

  *+.header__catalog-box-menu-list,
  *+.header__catalog-box-menu-sub,
  *+.header__burg-scroll {
    scrollbar-width: thin !important;
  }

  .reviews__video {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
  }

  .blog-single-page-box {
    grid-template-columns: 100%;
  }

  .contact__box-main {
    align-items: flex-start;
    gap: 20px;
  }

  .about-us {
    max-width: 100%;
  }

  .about-us-dec::after {
    display: none;
  }

  .header__botom-inner .logo {
    max-width: 205px;
  }

  .gallery-top {
    margin-bottom: 10px;
  }

  .header__bottom {
    padding: 18px 0;
  }

  .fill {
    min-height: 80px;
  }

  .select__main {
    margin: 0 auto;
    margin-right: 20px;
  }

  .list__filters-top-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F3;
    padding: 20px 10px;
  }

  .list__filters-title-top {
    font-weight: 600;
  }

  .product__list-off {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .product__list-off button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  .product__list-off-one {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 360px;
    padding: 14px;
    transition: all 0.3s linear;
  }

  .product__list-off-all {
    color: #000000;
  }

  .list__filters {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
  }

  .list__checkbox-inner:last-child {
    align-self: flex-end;
  }

  .category__product-box {
    grid-template-columns: auto;
    gap: 20px;
  }

  .header__burger-menu {
    position: relative;
    background-color: #1F1F1F;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    left: -100%;
    transition: all 0.3s linear;
    z-index: 10;
  }

  .header__burger-menu::before {
    content: '';
    position: absolute;
    background-image: url('../images/decor.svg');
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    filter: invert(1);
    z-index: -1;
  }

  .header__burger-menu.active {
    display: block;
    left: 0;
  }


  .header__nav-list,
  .header__change-color,
  .header__lang {
    display: none;
  }

  .btn-top {
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: 0;
  }

  .header__burger-menu .header__change-color {
    display: flex;
    width: max-content;
    margin-top: 20px;
  }

  .header__burg-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 31, 28, 0.8);
    border: 1px solid #3C3C3C;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: relative;
  }

  .header__burg-btn-box:hover {
    background-color: #545454;
  }

  .header__burg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-search-box {
    top: 70px;
    left: auto;
    right: 0;
    width: 370px;
  }

  .header__burg-box .header__catalog {
    display: flex;
    width: 100%;
  }

  .header__catalog,
  .header-log,
  .menu-nav {
    display: none;
  }

  .header__botom-inner-padding {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #545454;
    padding: 10px;
  }

  .menu-nav-box {
    border-bottom: 1px solid #545454;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;
  }

  .menu-nav-list {
    margin-top: 10px;
  }

  .menu-nav-list-item>a {
    font-weight: 400;
    padding: 7px 0px;
  }

  .header__burg-btn-close {
    color: #FFFFFF;
    position: relative;
  }

  .header__burg-btn-close::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .header__nav-mob .header__nav-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #545454;
    gap: 20px
  }

  .header__nav-mob .header__nav-list>li {
    font-size: 18px;
  }

  .header__botom-inner-padding .header__form {
    display: flex;
    grid-column: 1 / 4;
  }

  .header-search-box .header__input {
    height: 54px;
    background-color: #1F1F1C;
    border: 1px solid #9E9E9E;
    border-radius: 12px;
    padding: 0 15px 0 55px;
  }

  .header__burg-btn-close {
    display: flex;
    font-size: 38px;
    font-weight: 300;
  }

  .header__burg-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 10px;
  }

  .header__burg-solid {
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 15px;
  }

  .header__burger-menu .header-log {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .header__burger-menu .header__form {
    display: block;
    width: 100%;
  }

  .header__burger-menu .header-log span,
  .header__burger-menu .header__form input::placeholder {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #000000;
  }

  .menu-main-burg {
    border-bottom: 1px solid #F3F3F3;
  }

  .header__catalog-box-menu-bottom.header__burger-menu {
    padding: 0;
  }

  .header__menu-btn-close,
  .header__catalog-box-menu-sub-close {
    font-size: 30px;
    font-weight: 400;
  }

  .header__burg-bt {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
  }

  .header__burg-scroll {
    height: calc(100vh - 75px);
    overflow: auto;
  }

  .header__burg-botom {
    padding: 7px 0;
    border-bottom: 1px solid #F3F3F3;
  }

  .header__catalog-box-menu-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    border-bottom: 1px solid #F3F3F3;
    padding: 0;
    width: 100%;
    cursor: pointer;
  }

  .header__catalog-box-menu-list a {
    width: 100%;
    padding: 15px 0;
  }

  .header__burg-botom a {
    width: 100%;
    padding: 7px 0;
    font-weight: 500;
  }

  .header__burg-tel {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 15px 10px;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 10px;
  }

  .header__burg-tel svg path {
    fill: #7F7F7F;
  }

  .header__burg-tel a {
    color: #807F73;
    grid-column: 2;
  }

  .header__burger-menu .header__lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }

  .header__lang-item {
    padding-right: 8px;
  }

  .header__lang {
    border-bottom: 1px solid#545454;
  }

  .header__lang-item:not(:last-child) {
    border-right: 1px solid#545454;
    border-bottom: none;
  }

  .header__lang-item:not(:first-child) {
    padding-left: 8px;
  }

}


@media (max-width: 768px) {


  .about-us-top {
    background-position: -370px;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 6px;
  }

  .swiper-pagination-bullet-active {
    width: 32px;
    height: 6px;
  }

  .about-us iframe {
    height: 500px;
  }

  .category__list-inner li:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;
  }
  
/* 
  .footer__center {
   background-attachment: fixed; 
  }
 */
  
  .pop-up-padding::-webkit-scrollbar {
    width: 3px;
  }

  *+.pop-up-padding {
    scrollbar-width: thin !important;
  }

  .main__swiper-inner {
    max-width: 100%;
    width: auto;
    padding: 30px 20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .main__swiper-inner .btn {
    width: auto;
  }

  .contact__box-main {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-right img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  .category__list-link-title {
    padding: 10px;
    margin: 10px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 16px;
  }

  .category__list-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .category__product-list {
    grid-template-columns: repeat(2, 1fr);
  }


  .footer__inner:nth-child(3) {
    justify-self: auto;
  }

  .footer__inner:nth-child(4) {
    justify-self: auto;
  }

  .footer__center {
    padding: 20px 0;
  }

  .footer__title-list {
    pointer-events: auto;
    padding: 10px 0;
  }

  .footer__center-inner {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0;
  }

  .footer__center-logo .logo img {
    width: auto;
  }

  .footer__center-logo {
    grid-column: 1;
    grid-row: 4;
  }

  .footer__title-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
  }

  .footer__items {
    display: none;
  }

  .footer .arrow__items-svg-bg {
    display: flex;
  }

  .footer .arrow__title-list {
    pointer-events: auto;
  }

}

@media (max-width: 575px) {
  
  .catalog::before {
    display: none;
  }
  
.news::before{
    display: none;
  }
  
  .news-swiper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .swiper-single {
    margin-left: -15px;
    margin-right: -15px;
  }

  .blog-single-page-right iframe,
  .blog-single-page-right img {
    max-width: initial;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  .store__box-title {
    font-size: 20px;
    max-height: 56px;
  }

  .collaboration .store__inner-top {
    justify-content: center;
  }

  .about-us iframe {
    height: 300px;
  }

  .about-us-top-inner {
    margin: 0;
  }

  .news-box {
    grid-template-columns: 1fr;
  }

  .product__page-left .store__box-list {
    display: grid;
  }

  .header-search-box {
    top: 58px;
    width: max-content;
  }

  .fill {
    min-height: 64px;
  }

  .header__bottom {
    min-height: 64px;
    padding: 10px 0;
  }

  .header__burg-btn-box,
  .header__search-button {
    width: 34px;
    height: 34px;
    border: none;
  }

  .header__search-button svg {
    width: 18px;
    height: 18px;
  }

  .store__box-title {
    margin: 0 auto;
  }

  .store__box-list {
    display: none;
  }

  .pagination .pagination__prev {
    margin-right: 15px;
  }

  .pagination .pagination__next {
    margin-left: 15px;
  }

  .pagination li {
    width: 38px;
    height: 38px;
  }

  .category__list-link-title {
    max-width: 100px;
  }

  .category__list-link img {
    max-height: 180px;
  }

  .news-swiper .swiper-pagination {
    display: flex;
  }

  .blog__index-text .btn {
    width: 100%;
  }

  .blog__index-img img {
    min-height: 500px;
  }

  .collaboration img {
    max-height: 60px;
  }

  .collaboration .swiper-pagination {
    display: flex;
  }

  .header__burger-menu::before {
    background-size: contain;
  }


  .mfp-iframe-scaler {
    height: 100% !important;
  }

  .header__cart-col {
    gap: 10px;
  }

  .gallery-thumbs-box {
    padding: 0;
  }

  .form-check-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .store__inner-top .form-group {
    width: 100%;
  }

  .select__main select {
    width: 45px;
    height: 45px;
    background-color: #F3F3F3;
    background-position: center;
    background-image: url('../images/pop-up-icon/arrows.svg');
    z-index: 9;
  }

  select {
    width: 45px;
    height: 45px;
  }

  .mfp-content>div {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .header__burger-menu {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }


  .form-pop-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .form-pop-up-top .mfp-close {
    position: absolute;
    top: 0;
  }

  .sing-in-pop-up {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
  }

  .pop-up-box {
    grid-template-columns: auto;
    gap: 10px;
  }

  .form-pop-up-top {
    height: max-content;
    background-color: #F3F3F3;
    padding: 10px;
  }

  .form-pop-up-top .mfp-close {
    position: static;
  }

  .header__botom-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
  }

  .header__burger-menu .header__botom-inner {
    display: flex;
  }

  .mfp-container {
    padding: 0;
  }

  .select__main {
    margin-right: 10px;
  }

  .select__main,
  .list__filters-btn {
    height: 45px;
  }

  .store__box-link {
    height: 48px;
  }

  .about-us-link {
    width: 100%;
  }

}


@media (max-width: 450px) {

  .blog__index-text .store__inner-top {
    text-align: center;
  }

  .about-us iframe {
    height: 230px;
  }

  .table-box {
    font-size: 12px;
  }

  .reviews__inner-video iframe {
    height: 180px;
  }

  .btn {
    height: 42px;
    font-size: 14px;
    padding: 0px 10px
  }

  .btn svg {
    width: 16px;
    height: 16px;
  }

  .swiper-button-box {
    gap: 5px;
  }

  .store__inner-top {
    gap: 10px;
  }

}

@media (max-width: 360px) {

  .table-box {
    grid-template-columns: 190px auto;
  }

}
